# Frontend Environment Variables
VITE_API_URL=http://localhost:3000/api

# Docker Environment Variables (for docker-compose)
DB_PASSWORD=postgre
FRONTEND_URL=http://shitlive.dev:5173

# Session
SESSION_SECRET=bf39a7e1c6f44b8c9d3f8e22e1c3a42a0e7f5bbd9a1e8d6fc3e2b7c9e8f4a1b2

# Google OAuth
GOOGLE_CLIENT_ID=y456046371087-i99ej48t4jghd38gn2fvejdrjtuqbhsj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=https://shitlive.dev/api/auth/google/callback
GOOGLE_CALLBACK_URL=https://shitlive.dev/auth/callback